div
{
	margin-left: 37%;
	margin-top: 5%;
	text-align: center;
}

.box1
{
	border: 2px solid blue;
	width: 10%;
	height: 5%;
	text-align: center;
	margin-left: 15%;
	margin-bottom: 5%;
}

.box2
{
	border: 2px solid blue;
	width: 10%;
	height: 5%;
	text-align: center;
	margin-left: 15%;
	margin-bottom: 5%;
}

.box3
{
	border: 2px solid blue;
	width: 10%;
	height: 5%;
	text-align: center;
	margin-left: 15%;
	margin-bottom: 5%;
}

.box4
{
	border: 2px solid blue;
	width: 10%;
	height: 5%;
	text-align: center;
	margin-left: 15%;
	margin-bottom: 5%;
}

.box5
{
	border: 2px solid blue;
	width: 10%;
	height: 5%;
	text-align: center;
	margin-left: 15%;
	margin-bottom: 5%;
}

.box6
{
	border: 2px solid blue;
	width: 10%;
	height: 7%;
	text-align: center;
	margin-left: 15%;
	margin-bottom: 7%;
}

.box7
{
	border: 2px solid blue;
	width: 10%;
	height: 7%;
	text-align: center;
	margin-left: 15%;
	margin-bottom: 7%;
}