.dropdownmenu {
    background-color: rgba(121, 93, 93, 0);
    width: 140px; /* Largeur du menu */
  }
  .dropdownmenu,
  .dropdownmenu ul {
    /* Suppression des puces et des marges pour les listes du menu et des sous-menus */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .dropdownmenu ul {
    /* Masquage des sous-menu par defaut */
    display: none;
  }
  .dropdownmenu li {
    /* Positionnement relative des elements de menu pour pouvoir positionner les sous-menu correctement en absolu */
    position: relative;
  }
  .dropdownmenu a {
    /* On transforme les liens en bloc pour pouvoir les dimensionner */
    display: block;
    /* Dimensions des liens */
    width: 120px;
    height: 30px;
    line-height: 30px; /* Doit etre equivalent a la hauteur du menu pour centrer le texte verticalement */
    padding: 3px 10px;
    text-align: center;
  }
  .dropdownmenu li:hover ul {
    /* Affichage du soumenu au survol */
    display: block;
    /* Positionnement du sous-menu */
    position: absolute;
    top: 0px;
    left: 140px; /* Decalage du sous-menu de la largeur du menu */
    z-index: 100; /* Gestion de la superposition des sous-menus par rapport au reste de la page */
  }
  .dropdownmenu ul a {
    /* Changement de l'affichage des liens des sous-menus pour ne pas les afficher en inline-block comme les liens de menu, ils seront donc verticaux */
    display: block;
  }
  /* Gestion des couleurs */
  .dropdownmenu li {
    background-color: rgba(102, 102, 102, 0.363); /* Couleur d'arriere-plan du menu */
  }
  .dropdownmenu li a {
    color: rgb(38, 51, 116); /* Couleur du texte du menu */
  }
  .dropdownmenu li:hover {
    background-color: #000; /* Couleur d'arriere-plan du menu au survol */
  }
  .dropdownmenu li:hover a {
    color: #fff; /* Couleur du texte du menu au survol */
  }
  .dropdownmenu ul li {
    background-color: #ccc; /* Couleur d'arriere-plan des sous-menu */
  }
  .dropdownmenu ul li:hover {
    background-color: #000; /* Couleur d'arriere-plan des sous-menu au survol */
  }
  .dropdownmenu ul li a {
    color: rgb(6, 29, 86); /* Couleur du texte des sous-menu */
  }
  .dropdownmenu ul li:hover a {
    color: #f00; /* Couleur du texte des sous-menu au survol */
  }
  .dropdownmenu {
    text-align: center;
    margin-top: 115px;
    margin-left: 50px ;
    border-radius: 5px;
  }
.baniere {
    border: #000;
    padding: 0%;
    background-color: rgba(175, 238, 238, 0.288);
    border-radius: 2px;
    border-color: black 8px;
    text-align: center;
    margin: 50px;
    border:5px solid darkblue;
    border-radius: 5px;

}
.menu {
    border: 5px solid rgb(60, 60, 165);
     height: auto;
     width: auto;
     display: flex;
     background-color: rgba(10, 75, 75, 0.26);
     float: auto;
     margin-right: auto;
     border-radius: 5px;
     margin-left: 50px;
     margin-right: 50px;

     

}
.box {
    border: 3px solid rgba(0, 0, 139, 0.363);
    width: 2000px;
    float: right;
    background-color: rgba(155, 207, 207, 0.288);
    margin-left: 5%;
    border-radius: 5px;
    margin-right: 250px ;
    margin-left: 50px;
    
}
.bas {
    border: #000;
    padding: 0%;
    background-color: rgba(175, 238, 238, 0.212);
    border-radius: 2px;
    border-color: black 8px;
    text-align: center;
    margin: 50px;
    border:5px solid darkblue;
    border-radius: 5px;

}
body {
    background-color: rgba(135, 207, 235, 0.26);
    border-radius: 5px;
    background: url(fond1.jpg);
}
iframe {
    width: 900px;
    height: 350px;

}
img {
  position: relative;
  top: 0px;
  margin: 0px;
  float: right;
}

