body
{
	background: rgb(150, 197, 160);
}

.boite_principale
{
	border: 2px solid red;
	width: 70%;
	height: 1000px;
	margin-left: 17%;
	box-shadow: 6px 4px 2px;	
}

.fact
{
	border: 2px solid blue;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
}

.datefact
{
	margin-left: 65%;
    position: absolute;
    top: 25px;
    left: 5px;
}

p
{
	margin-left: 10px;
}

.pr
{
	margin-left: 10px;
}

h2
{
	margin-left: 10px;
}

h3
{
	margin-left: 10px;
}

.para
{
	margin-left: 58%;
    position: absolute;
    top: 155px;
    left: 1px;
	font-style: italic;	
}

.dest
{
	border: 2px solid blue;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
}

.Recep
{
	margin-left: 65%;
    position: absolute;
    top: 170px;
    left: 5px;
}

.calculefact
{
	border: 2px solid blue;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
}

.calcul
{
	border: 2px solid blue;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
	text-align: center;
}

.bouton
{
	border: 2px solid blue;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 5%;
	margin-top: 2%;
	text-align: center;
	height: 100px;
	width: 97.8%;
	padding-top: 2%;
}

.but {
	appearance: none;
	background-color: transparent;
	border: 2px solid #000000;
	border-radius: 15px;
	box-sizing: border-box;
	color: #3B3B3B;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
  }
  
  .but:hover {
	color: #fff;
	background-color: #876868;
	box-shadow: rgba(52, 7, 7, 0.25) 0 8px 15px;
	transform: translateY(-2px);
  }
  
  .but:active {
	box-shadow: none;
	transform: translateY(0);
  }

  .parag
{
	font-style: italic;	
}